.JoinWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../public/BG.jpg");
  background-size: cover;
}

.JoinCard {
  width: 50%;
  height: 50%;
  background-color: var(--color-neutrals-n-10);
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  max-width: 350px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-top: 60px;
}

.GroupMemberWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.GroupIMG {
  border-radius: 50%;
}

.GroupName {
  color: var(--color-neutrals-n-500);
  font-size: 25px;
  font-weight: 500;
}

.MemberPrev {
  border-radius: 50%;
  margin-left: -10px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-neutrals-n-10);
}

.MembersCount {
  color: var(--color-neutrals-n-500);
}

.ButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
