.ButtonWrapper {
      background-color: transparent;
      border: 2px solid var(--color-neutrals-n-400);
      border-radius: 10px;
      cursor: pointer;
      color: var(--color-neutrals-n-400);
}