.ButtonWrapper {
  border: 1px solid var(--color-button);
  background-color: var(--color-button);
  border-radius: 50px;
  width: 100%;
  height: auto;
  padding: 8px;

  cursor: pointer;
  &.isPending {
    pointer-events: none;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms ease-in-out;
  &:hover {
    background-color: transparent;
    color: var(--color-button);
  }
}
