.signupWrapper {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      align-items: center;
      padding: 24px;
      justify-content: space-around;
      min-width: 300px;
}

.inputWrapper{
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      width: 70%;
      align-items: center;
      gap: 20px;
}